html{
    background-color: black;  
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

section#history{
    height:20vh;
    width: 100vw;
    margin: 0;
    padding: 0.25vw;
    display: none;
}

section#history div.row{
    display: flex;
    height: 100%;
    width: 99.5vw
}

section#history div.column{
    display: flex;
    flex: 16vw;
    position:relative;
    margin: 0 0.125vw;
    background-color: grey;

    
    background-size: auto auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    opacity: 0.6;
}

section#history div.column.left{
    margin-left: 0;
}

section#history div.column.right{
    margin-right: 0;
}

section#main { 
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;

    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#main div#top-bar{
    padding: 1.5rem 1rem 0 1rem;
}

section#main div#top-bar h1{
    margin: 0;
    color: white;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-shadow: 3px 0 6px black;
}

section#main div#top-bar h1 span.small{
    font-weight: 300;
}

section#main div#top-bar div.right{
    text-align: right;
}

section#main div#top-bar div.right button{
    border: none;
    background-color: transparent;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
}

section#main div#top-bar div.right button:hover{
    background-color: rgba(0,0,0,0.25) 
}

section#main div#top-bar div.right button:focus {
    outline: none;
    box-shadow: none;
  }

section#main div#top-bar i{
    margin: 0;
    color: white;
    font-size: 3em;
    -webkit-text-stroke: 0.5px white;
    text-shadow: 1px 0 5px black;
}


section#main div.row {
    display: flex;
    width: calc(100vw - 2rem);
}
  
section#main div.column {
    flex: 50%;
    position:relative;
}

.modal{
    max-width: 40vw!important;
}

div#course-info div.centered{
    text-align: center;
    margin: 0;
}

div#course-info h1,h2,h3,h4{
    margin: 0;
    padding: 0.3rem;
}

div#course-info h3, h4, p {
    font-weight: 300;
}


section#main div#bottom-bar{
    position:absolute; 
    bottom:0;
    margin: 0;
    padding: 0 1rem 1.5rem 1rem;
}

section#main div#bottom-bar h3{
    margin: 0;
    color: white;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    text-shadow: 3px 0 5px black;
    position: absolute;
    bottom: 0;
}

section#main div#bottom-bar h3 a.source{
    color: white;
}

section#main div#bottom-bar div.right{
    text-align: right;
    transition: opacity 0.4s;
}

section#main div#bottom-bar div.right h1{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-shadow: 4px 0 4px black;
}
section#main div#bottom-bar div.right h2{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.125rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-shadow: 3px 0 3px black;
}

section#next-images{
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}